// Colors
$clr1: #122961;
$clr2: #3867d6;
$clr3: #fed330;
$clr4: #eb3b5a;
$clr5: #20bf6b;
$clr6: #eeeeee;
$clr7: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;