.add-content {
    height: fit-content;
    width: rem(192px);
    padding: rem(6px) 0;
    width: 250px;
}

.card-add-content {
    height: 85px;
}

.add-content-container {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.add-content-buttons {
    width: 100%;
}

.add-content input {
    width: 100%;
}

.add-content-title {
    width: 100%;
    color: inherit;
    // color: darken($clr6, 40%);
}

.add-content-title::before {
    content: "+";
    padding-right: 10px;
}
