
.board-content {
    padding: 0 20px;
    margin: 0;
    height: calc(100% - 60px);
}

.stacks-content >* {

    margin-right: rem(16px);
}

.stacks-section {
    width: 100%;
    

    &.stacks-content {
        width: 100%;
        overflow: scroll;
        
    }
}

.add-content {
    cursor: pointer;
    height: fit-content;
    width: rem(192px);
    padding: rem(6px) 0;
    width: 250px;
    background-color: $clr2;
}

.add-content-container {
    // width: 95%;
    // margin: auto;
    height: fit-content;
    width: 100%;
    padding: 0.25rem;
    border: 1px dashed rgba(0, 0, 0, 0.25);
    background: cornflowerblue;
}

.add-content-buttons {

    width: 100%;
}

.add-content input {
    width: 100%;
}

.add-content-title {
    width: 100%;
}

.add-content-title::before {

    content: "+";
}

.stack {
    background-color: tomato;
    overflow-y: auto;
    max-height: 70vh;
}

.stack-title {
    font-family: openSansBold;
    margin-bottom: 8px;
    align-self: flex-start;
    height: 2rem;
    width: 100%;
    padding: 0.5rem;
    transition: ease-in-out 0.225s;
    &:hover {
        background: $clr5;
    }
}

.card-preview {
    width: 100%;
    transition: ease-in-out 0.225s;
    margin-bottom: rem(4px);
    padding: 0.35rem;
    border: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    font-size: 1.125rem;
    background: white;

    &:hover {
        background: darken($color: lightblue, $amount: 20);
    }

    .card-preview-info {
        border-top: 1px solid $clr6;

        &>*:not(:last-child) {
            margin-right: 20px;
        }
        .preview-info-span {
            padding-top: 2px;
    
            .preview-info-img {
                width: 1.5rem;
                margin-right: 3px;
            }
            // .preview-info-count {
            //     margin-right: 20px;
            // }
        }
    }

}






.close-add-icon {
    width: rem(24px);
    cursor: pointer;
    transition: ease-in-out 0.15s;
    border-radius: 50%;
    align-self: center;
    &:hover {
        background-color: tomato;
    }   
}