
.board-content {
    // padding: 0 20px 0 0;
    margin: 0;
    height: calc(100% - 60px);
    overflow-x: hidden;
    margin-top: 60px;
}

.stacks-content >* {

    margin-right: rem(16px);
}

.stacks-content:first-child {

    margin-left: rem(16px);
}

.stacks-section {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.add-content {
    cursor: pointer;
    height: fit-content;
    width: rem(192px);
    padding: rem(6px) 0;
    width: 250px;
}

.add-content-container {
    height: fit-content;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.add-content-buttons {

    width: 100%;
}

.add-content input {
    width: 100%;
}

.add-content-title {
    width: 100%;
    color: $clr7;
    font-family: openSansBold;
}

// .add-content-title::before {

//     content: "+";
//     padding-right: 3px;
// }

.stack {
    overflow-y: auto;
    padding: 0 8px;
    max-height: 60vh;
}


.stack-title {

    font-family: openSansBold;
    margin-bottom: 8px;

    align-self: flex-start;
    height: 2rem;
    width: 100%;
    padding: 20px 8px;
    transition: ease-in-out 0.225s;
    font-size: rem(18px);
    &:hover {
        background: darken($color: $clr6, $amount: 7.5)  ;
    }
}

.add-stack {

    background: $clr1;
}
.add-card {
    
    background-color: $clr2;
}

.card-preview {

    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 0px;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    text-decoration: none;
    padding: 0 8px 8px;
    // transition: ease-in-out 0.15s;

    .card-preview-title  {

        padding-top: 5px;
        &.top-margin {
            
            margin-top: 5px;
            padding-top: 0;
        }
    }

    &:hover {
        background: lighten($color: $clr3, $amount: 40);
        transition: ease-in-out 0.15s;
    }

    .card-preview-info {
        border-top: 1px solid $clr6;
        margin-top: 3px;
        padding-top: 2px;
        // filter: opacity(0.75);

        &>*:not(:last-child) {
            margin-right: 10px;
        }
        .preview-info-span {
            padding-top: 2px;
    
            .preview-info-img {
                width: 12px;
                margin-right: 3px;
            }

            .preview-info-count {
                font-size: rem(12px);
            }
            // .preview-info-count {
            //     margin-right: 20px;
            // }
        }
    }

}

.card-input {
    padding: 8px;
    font-size: rem(14px);
}

.stack-input {
    font-size: rem(18px);
}

.stack-content {
    background: $clr6;
}




.close-add-icon {
    width: rem(24px);
    cursor: pointer;
    transition: ease-in-out 0.15s;
    border-radius: 50%;
    align-self: center;

    &:hover {
        background-color: tomato;
    }   
}

.card-labels {
    color: white;
    letter-spacing: .5px;
    // height: 16px;
    padding-top: 4px;
    // color: $clr6;
    font-family: openSansBold;
    // overflow-y: scroll;
}

.card-label {
    height: 7.5px;
    width: 30px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: ease-in-out 0.15s;
    font-size: rem(10px);
    cursor: pointer;

    &.label-expand {
        height: fit-content;
        width: fit-content;
        // margin-bottom: ;
        // width: 40px;
        padding: 3px 5px;
        border-radius: 2px;
        margin-bottom: 3px;
    }
}


.card-label:not(:last-of-type) {
    margin-right: 2.5px;
}

// Scroll bar

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }