.boards-page {
    padding: 20px;

    .boards-header {
        margin-bottom: 25px;
        .boards-title {
            font-family: openSansBold;
        }
        .hello-btn {
            margin-right: 5px;
            border-style: none;
            background-color: $clr1;
            color: white;
            border-radius: 3px;
            padding: 10px;
            transition: 0.3s;
            &:hover {
                background-color: #354c86;
                color: white;
                border-radius: 3px;
            }
        }
    }
}

@media (max-width: 500px) {
    .boards-page.form-container {
        width: 95%;
    }
}

.boards-list {
    .board-item {
        width: 225px;
        height: 140px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 20px;
        transition: 0.3s;
        background-size: 100%;
    }
    
    h3 {
        font-family: openSansBold;
        background-color: rgba(0, 0, 0, .3);
        padding: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: white;
        font-size: rem(15px);
    }

    .add-new-board {
        outline: none;
        background-color: darken($clr6, 10%);
        border: none;
        color: $clr1;
        font-family: openSansBold;
        min-width: 225px;
        &:hover {
            background-color: darken($clr6, 15%);
        }
    }
}

.main-form-container {
    color: white;
    padding: 20px;
    background-color: #d4d1d1a3;
    border-radius: 10px;

    .board-title {
        margin-bottom: 25px;
        height: 30px;
        font-size: rem(14px);
        font-family: openSansBold;
        width: 84%;
        border: none;
        padding: 6px;
        transition: 0.3s;
        outline: none;
        border-radius: 5px;

        &:focus {
            background-color: $clr6;
        }
    }

    .main-form {
        width: 50%;
        border-radius: 8px;
        padding: 10px;

        .main-form-header {
            margin-bottom: 10px;
            padding: 5px;
            font-family: openSansBold;
        }

        .bg-btn {
            margin-right: 10px;
            background-color: $clr6;
            color: black;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: rem(14px);
            transition: 0.3s;
            &:hover {
                background-color: darken($clr6, 10%);
                color: black;
            }
        }
    }

    .bg-color-container {
        .bg-color-list {
            max-width: 180px;
            padding: 0;
            margin: 0;
            margin-left: 20px;
            li {
                width: 50px;
                height: 50px;
                margin: 0px 3px;
                margin-bottom: 4px;
                border-radius: 7px;
                cursor: pointer;
            }
        }
    }
}

.modal-footer {
    margin-top: 8px;
    margin-left: 10px;
    button {
        margin-right: 5px;
        border-style: none;
        background-color: $clr6;
        border-radius: 3px;
        padding: 5px;
        &:hover {
            background-color: darken($clr6, 15%);
        }
    }
}

.close-btn {
    border-radius: 50%;
    color: white;
    transition: 0.3s;
    margin-bottom: 5px;
    font-size: rem(17px);
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    padding: 5px;
    width: 23px;
}
