.boards-page {
    padding: 20px;

    .boards-header {
        margin: 10px;
    }
}

.boards-list {
    .board-item {
        width: rem(225px);
        height: 140px;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 20px;
        // background-color: $clr4;
        transition: 0.3s;
        &:hover {
            background-color: darken($clr4, 10%);
        }
    }

    .add-new-board {
        background-color: $clr6;
        border: none;
        color: $clr1;
        &:hover {
            background-color: darken($clr6, 10%);
        }
    }
}

.main-form-container {
    color: white;

    .borad-title {
        margin-bottom:35px;
        height: 30px !important;
        font-size: rem(14px) !important;
    }

    .main-form {
        width: 50%;
        border-radius: 8px;
        padding: 10px;

        .main-form-header{
            margin-bottom: 10px;
            border-bottom: 1px solid darken($clr6, 10%);
            padding: 5px;
        }

        .clean-link{
            color: white;
            text-decoration: none;
        }
        .close-btn{
            background: none;
            border: none;
            border-radius: 5px;
            padding: 5px 7px;
            color: white;
            transition: 0.3s;

            &:hover {
                background-color: $clr6;
                color: darken($clr6, 40%);

            }
        }
    }

    .bg-color-container {
        width: 50%;

        .bg-color-list {
            width: 200px;
            padding: 0;
            margin: 0;
            margin-left: 20px;
            li {
                width: 50px;
                height: 50px;
                margin: 0px 3px;
                margin-bottom: 4px;
                border-radius: 7px;
                cursor: pointer;
            }
        }
    }
}

.modal-footer {
    margin-top: 8px;
    margin-left: 10px;
}