.board-menu-container {
    background-color: #f3f3f3;
    width: 350px;
    height: calc(100vh - 55px);
    position: fixed;
    right: 0px;
    top: 53px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translateX(105%);
    transition: transform 0.4s;

    &.board-menu-open {
        transform: translateX(0%);
    }

    .board-menu-content {
        height: 90%;
        overflow-y: auto;
    }

    .board-menu-title {
        padding: 10px 15px;
        font-family: openSansBold;
        color: $clr7;
        background-color: $clr2;

        & img {
            width: 22px;
            cursor: pointer;
        }
    }

    .board-menu-list {
        margin: 20px;
        padding: 0;

        & li {
            display: flex;
            align-items: center;
            font-family: openSansBold;
            font-size: rem(14px);
            padding: 15px 10px;
            border-bottom: 1px solid darken($clr6, 7%);
            transition: 0.3s;

            &:hover {
                background-color: darken($clr6, 7%);
            }

            & img {
                margin-right: 10px;
                filter: invert(20%);
            }

            &.remove-board {
                color: darken($clr4, 10%);
            }

            &.active-stats {
                background: $clr3;
            }
        }
    }

    .activities-container {
        padding: 0 35px;
        height: 100%;

        .activities-title {
            font-family: openSansBold;
        }

        .activities {
            padding: 0;
            margin: 5px 0;

            & li {
                font-size: rem(13.5px);
                margin-bottom: 12px;

                & .activity-at {
                    font-size: rem(11px);
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .board-menu-container {
        height: calc(100vh - 58px);
        top: 56px;
    }
}

@media (max-width: 500px) {
    .board-menu-container {
        width: 250px;
    }
}

.board-styling-container {
    .board-styling-title {
        background-color: darken($clr6, 5%);
        padding: 15px;
        font-family: openSansBold;

        & .back {
            margin-right: 15px;
            filter: invert(30%);
            cursor: pointer;
        }
    }

    .backgrounds-container {
        padding-top: 20px;
        max-height: 54vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;

        .background {
            width: 140px;
            height: 80px;
            border-radius: 20px;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }

    .background-choose {
        width: 100%;
        height: 120px;
        border: none;
        outline: none;
        padding: 0;
        margin-bottom: 15px;

        &:not(:last-of-type) {
            margin-top: 15px;
        }

        & span {
            background-color: rgba(0, 0, 0, 0.623);
            color: $clr7;
            display: block;
            margin: 0 auto;
            padding: 15px;
            font-size: rem(16px);
            font-family: openSansBold;
        }
    }

    .img-choose {
        background: url("/assets/img/bg-view5.jpg");
        background-size: 100%;
    }

    .color-choose {
        background: linear-gradient(to right, rgb(95, 44, 130), rgb(73, 160, 157));
    }
}

@media (max-width: 500px) {
    .board-styling-container{
        .backgrounds-container {
            grid-template-columns: 1fr;
        }
    }
}

.remove-board-container {
    background-color: $clr7;
    width: 250px;
    height: 150px;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid darken($clr6, 5%);
    border-radius: 3px;
    margin-left: 30px;
    margin-top: -10px;
    text-align: center;

    .remove-board-title {
        background-color: $clr6;
        border-bottom: 1px solid darken($clr6, 10%);
        padding: 10px;
        font-family: openSansBold;

        & img {
            width: 13px;
            cursor: pointer;
            filter: invert(40%);
        }
    }

    & p {
        font-size: rem(14px);
        padding: 10px;
    }

    & button {
        width: 90%;
        text-transform: uppercase;
        font-family: openSansBold;
    }
}

@media (max-width: 500px) {
    .remove-board-container {
        margin-left: 0;
        width: 220px;
        right: 13px;
    }
}
