.comments-container {
    margin-top: 20px;
    .comment-title-fullname {
        font-size: rem(14px);
        font-family: openSansBold;
        margin-left: 10px;
    }
    .comment-title-time {
        font-size: rem(10px);
        color: #5e6c84;
        margin-left: 10px;
    }
    .comment-txt {
        background-color: white;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0px 0px 5px 47px;
        box-shadow: inset 0 0 0 1px #dfe1e6;
        font-size: rem(12px);
    }
    .delete-comment{
        font-size: rem(12px);
        color: #5e6c84;
        margin-left: 55px;
        &:hover{
            text-decoration: underline;
        }
    }
}

.main-content-card-action {
    .comment-input {
        width: 70%;
        margin-right: 5%;
        padding: 8px 5px;
        box-shadow: inset 0 0 0 1px #dfe1e6;
    }

    .comment-btn {
        width: 34%;
        font-size: 12px;
        border: none;
        padding: 5px;
        border-radius: 4px;
        transition: 0.3s;
    }
}

.comment {
    font-size: rem(13px);
    margin-bottom: 10px;
}
