.card-members-container {
    .members-list-container {
        h4 {
            font-size: rem(12px);
            font-weight: 500;
            font-family: openSansBold;
            letter-spacing: 0.04em;
            line-height: 16px;
            margin-top: 4px;
            margin-bottom: 10px;
        }
        .members-list {
            height: 160px;
            overflow-y: auto;
            .member-item {
                height: 44px;
                padding: 4px;
                margin-bottom: 10px;
                font-size: rem(16px);
                cursor: pointer;
                &:hover {
                    background-color: rgba(8, 26, 58, 0.1);
                }
                & img {
                    width: 16px;
                    height: 16px;
                }
                .members-card-title{
                    margin-left: 10px;
                    
                }
            }
        }
    }
    .search-members {
        padding: 8px 12px;
        background-color: #fafbfc;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        color: #172b4d;
        outline: none;
    }
}
