.action-container {
    position: fixed;
    border: 1px solid #d2d2d2;
    z-index: 999;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    top: 61px;
    right: 40px;
    .action-header {
        padding: 4px;
        border-bottom: 1px solid #d5d5d5;
        margin-bottom: 10px;
        text-align: center;
    }
    .label-item {
        padding: 8px 12px;
        margin-bottom: 5px;
        border-radius: 5px;
        color: white;
        // height: 35px;
        width: 88%;
        cursor: pointer;
        font-size: rem(14px);
        font-family: openSansBold;
        transition: 0.3s;

        &:hover {
            filter: brightness(90%);
        }

        & img {
            width: 16px;
        }
    }
    .edit-icon {
        cursor: pointer;
        padding: 5px 6px;
        border-radius: 4px;
        margin-bottom: 3px;
        margin-left: 5px;
        img {
            width: 20px;
        }
        &:hover {
            background-color: #eeeeee;
        }
    }
    .close-label {
        background: none;
        border: none;
        border-radius: 50%;
        padding: 10px;
        color: #888888;
        transition: 0.3s;
        &:hover {
            background-color: #eeeeee;
        }
        img {
            width: 12px;
        }
    }

    .change-label-container {
        .header-container {
            margin-bottom: 20px;

            h4 {
                font-size: rem(12px);
                font-family: openSansBold;
                letter-spacing: 0.04em;
                margin-left: 80px;
            }
        }
        .label-title {
            padding: 8px 12px;
            background-color: #fafbfc;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            color: #172b4d;
        }
        .label-color-item {
            width: 48px;
            height: 32px;
            margin-bottom: 7px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;

            &:not(:nth-child(5n)) {
                margin-right: 7px;
            }
            &:hover {
                filter: brightness(90%);
            }
        }
        img {
            width: 16px;
            margin-top: 2px;
            cursor: pointer;
        }
    }
}

@media (max-width: 700px) {
    .action-container {
        top: 70px;
    }
}

@media (max-width: 350px) {
    .action-container {
        margin: 0 auto;
        right: unset;
    }
}
