.nav-container {
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    width: 100%;
    // height: 70px;

    .nav-content {
        padding-left: 20px;
    }

    .main-nav {
        margin: 10px 0;

        & li a {
            padding: 9px 25px;
            margin-left: 15px;
            display: flex;
            align-items: center;
            color: $clr7;
            transition: 0.3s;

            &:hover:not(.active) {
                color: darken($clr6, 7%);
            }
        }

        .active {
            background-color: white;
            color: $clr1;
            border-radius: 3px;
        }
    }
}

.logo {
    font-family: openSansBold;
    font-size: rem(26px);
    display: inline;
    color: $clr6;

    .logo-we {
        background-color: $clr3;
        padding: 0 3px;
        margin-right: 3px;
        color: darken($clr3, 30%);
        border-radius: 3px;
    }
}
