.scrolled {
    background-color: #0000006b;
}

.nav-container {
    position: fixed;
    width: 100%;
    transition: .5s;

    .nav-content {
        padding-left: 20px;
    }

    .main-nav {
        margin: 10px 0;

        & li a {
            padding: 9px 25px;
            margin-left: 15px;
            display: flex;
            align-items: center;
            color: $clr7;

            &:hover:not(.active) {
                color: darken($clr6, 7%);
                transition: 1s;
            }
        }

        .active {
            background-color: white;
            color: $clr1;
            border-radius: 20px;
        }
    }
}

.logo {
    font-family: openSansBold;
    font-size: rem(26px);
    display: inline;
    color: $clr6;

    .logo-we {
        background-color: $clr3;
        padding: 0 3px;
        margin-right: 3px;
        color: $clr1;
        border-radius: 3px;
    }
}
