.screen.loader-screen {
    padding: 0;
}

.loader {
    border: 40px solid $clr6;
    border-radius: 50%;
    border-top: 40px solid $clr3;
    width: 350px;
    height: 350px;
    animation: spin 2s linear infinite;
    position: fixed;
    right: 0;
    left: 0;
    top: 135px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .loader {
        width: 280px;
        height: 280px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
