.user-profile-title {
    margin: 5px 20px;
    padding: 0 0 5px;
    width: 90%;
    border-bottom: 1px solid darken($clr6, 15%);
    font-family: openSansBold;
    margin-bottom: 20px;

    .user-icon {
        width: 22px;
        margin-right: 15px;
    }
}

.user-profile-container {
    padding: 25px;

    .btn-success {
        font-family: openSansBold;
    }

    .user-content {
        flex: 1;
    }

    .user-img {
        & img {
            max-width: 250px;
            min-height: 250px;
        }
    }

    .user-profile-form {
        margin-left: 20px;

        .profile-input {
            width: 65%;
            margin-bottom: 20px;
            outline: none;

            &[type="file"] {
                border: 1px solid darken($clr6, 7%);
                padding: 10px;
                border-radius: 5px;
            }
        }

        .img-submit-container {
            width: 65%;
        }

        .upload-img {
            padding: 11px 15px;
            border-radius: 5px;
            background-color: lighten($color: $clr1, $amount: 7);
            margin-bottom: 20px;
            cursor: pointer;
            color: $clr7;
            font-size: rem(12px);
            transition: 0.3s;

            &:hover {
                background-color: $clr1;
            }
        }
    }
}

@media (max-width: 1060px) {
    .user-profile-container {
        .user-profile-form {
            .profile-input {
                width: 90%;
            }

            .img-submit-container {
                width: 90%;
            }
        }
    }
    .user-profile-title {
        width: 86%;
    }
}

@media (max-width: 900px) {
    .user-profile-container {
        .user-profile-form {
            .img-submit-container {
                flex-direction: column;
                align-items: center;
            }

            .upload-img {
                margin-bottom: 10px;
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media (max-width: 760px) {
    .form-container {
        width: 90%;
        .user-profile-container {
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }

        .user-content {
            width: 100%;
            margin-bottom: 25px;
        }

    }
    
}

@media (max-width: 500px) {
    .form-container {
        width: 95%;
    }
}