* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: openSans, Arial, serif;
    color: $clr1;
    background: linear-gradient(to bottom, $clr2, darken($clr2, 10%));
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

img {
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

textarea,
input,
button {
    font-family: openSans, Arial, sans-serif;
    outline: none;
}

p {
    margin: 0;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.main-content {
    height: 97vh;
}

@media (max-width: 700px) {
    .main-content {
        height: 84vh;
        max-height: 84vh;
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
}
