.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-primary {
    background-color: $clr2;
    color: $clr7;
    &:hover {
        background-color: darken($clr2, 10%);
    }
}

.btn-success {
    background-color: $clr5;
    color: $clr7;
    &:hover {
        background-color: darken($clr5, 10%);
    }
}

.btn-danger {
    background-color: $clr4;
    color: $clr7;
    &:hover {
        background-color: darken($clr4, 10%);
    }
}

.disable {
    cursor: no-drop;
}