/* List Helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Flex Helpers */

.flex {
    display: flex;
    &.align-center {
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.align-start {
        align-items: flex-start;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.even {
        justify-content: space-evenly;
    }
    &.justify-end {
        justify-content: flex-end;
    }
}

.top-p {
    padding-top: 90px;
}