.add-member-container {
    background-color: #f3f3f3;
    position: fixed;
    right: 61px;
    top: 99px;
    min-height: 250px;
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.45);

    .add-member-title {
        padding: 10px;
        font-family: openSansBold;
        color: $clr7;
        background-color: $clr1;

        & img {
            width: 22px;
            cursor: pointer;
        }
    }

    .add-member-input {
        padding: 10px 7px;
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid darken($clr6, 10%);
        transition: 0.3s;
        margin-bottom: 10px;
        background-color: transparent;

        &:focus {
            background-color: darken($clr6, 3%);
            border-bottom: 1px solid #f3f3f3;
        }
    }

    .members-list {
        height: 200px;
        overflow-y: auto;

        .single-member {
            padding: 7px 10px;
            transition: 0.3s;

            &:hover {
                background-color: darken($clr6, 3%);
            }
        }
    }
}
