@media (max-width: 700px) {
    .board-options-container {
        margin-top: 23px;
        .member {
            .remove-member {
                top: 48px;
            }
        }
    }
}

.board-options-container {
    background-color: rgba(255, 255, 255, 0.322);
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;

    .board-title {
        font-family: openSansBold;
        background-color: $clr7;
        padding: 3px 10px;
        border-radius: 5px;
        justify-self: flex-start;
        align-self: center;
    }

    .remove-member {
        width: 14px;
        position: absolute;
        top: 53px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        background-color: $clr7;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: darken($clr4, 5%);
        }
    }

    .board-options {
        justify-self: flex-end;

        .search-container {
            width: 30px;
            background: url("../../img/search.png") no-repeat;
            background-position: 3px 4px;
            transition: 0.4s;
            background-color: rgba($clr7, 0.5);
            border: none;
            outline: none;
            color: $clr1;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            &:focus {
                border-bottom-left-radius: unset;
                border-bottom-right-radius: unset;
                padding-left: 35px;
                width: 300px;
                background-color: $clr7;
            }
        }

        .filter-cards-container {
            position: absolute;
            width: 301px;
            top: 90px;
            right: 135px;
            padding-right: 3px;
            background-color: darken($clr6, 4%);
            border: 1px solid darken($clr6, 15%);
            border-top: none;

            .filter-scroll-cards {
                padding-right: 3px;
                max-height: 250px;
                overflow-y: auto;
                overflow-x: hidden;

                .filter-card-title {
                    padding-bottom: 3px;
                    font-size: rem(13px);
                    font-family: openSansBold;
                }

                .filter-card-details {
                    color: rgba($clr1, 0.7);
                    font-size: rem(11px);
                }
            }

            .filter-card {
                cursor: pointer;
                padding: 10px;
                font-size: rem(13px);
                transition: 0.3s;

                &:nth-of-type(even) {
                    background-color: $clr6;

                    &:hover {
                        background-color: darken($clr6, 4%);
                    }
                }
                &:nth-of-type(odd) {
                    background-color: $clr7;

                    &:hover {
                        background-color: darken($clr7, 4%);
                    }
                }
            }
        }

        .option {
            background-color: rgba($clr7, 0.5);

            padding: 5px;
            color: white;
            border-radius: 3px;
            transition: 0.3s;
            border: none;
            outline: none;
            margin-left: 7px;

            & img {
                width: 22px;
            }

            &:hover {
                background-color: $clr7;
            }
        }
    }

    &.stats-margin {
        margin-bottom: 0;
    }
}

@media (max-width: 930px) {
    .search-container {
        display: none;
    }
}

@media (max-width: 500px) {
    .board-options-container {
        .board-members {
            overflow-x: scroll;
            max-width: 90px;

            &::-webkit-scrollbar {
                display: none;
            }

            .member {
                min-width: 30px;
                min-height: 30px;
            }
        }

        .board-title {
            font-size: rem(13px);
            padding: 3px 5px;
        }
    }
}

.member {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    margin-right: 3px;
    background-size: cover;
    font-family: openSansBold;
    text-transform: uppercase;

    .member-two-chars {
        background-color: rgba(255, 255, 255, 0.35);
        border-radius: 50%;
        padding: 3px;
        font-size: rem(11px);
    }

    &:hover .remove-member {
        opacity: 1;
        visibility: visible;
    }
}
